<block-viewer
    [strHeader]="getStrHeaderName"
    [flagButton1]="getViewButton1"
    strLabelButton1="Agregar Usuario"
    strContainerClass="surface-section px-2 py-3 md:px-6 lg:px-5"
    (eventButton1)="onClickNewUser($event)"
>
    <div class="surface-section">
        <div>
            <div class="flex justify-content-between flex-column sm:flex-row">
                <div class="sm:w-3">
                    <app-serach-drop-down-status
                        (eventValueStatus)="filterStatus($event)"
                        [comboStatus]="getArrayTypeStatus"
                    ></app-serach-drop-down-status>
                </div>
                <div class="sm:w-3">
                    <span class="p-input-icon-right my-2 w-full">
                        <app-search-input
                            (eventValueInput)="filterName($event)"
                            [strLabel]="'Filtrar por nombre'"
                        >
                        </app-search-input>
                    </span>
                </div>
                <!-- <div class="sm:w-3">
              <span class="p-input-icon-right my-2 w-full">
                  <app-search-input
                      (valueStatus)="filterEmail($event)"
                      [label]="'Filtrar por correo'"
                  >
                  </app-search-input>
              </span>
          </div>
          <div class="sm:w-3">
              <span class="p-input-icon-right my-2 w-full">
                  <app-search-input
                      (valueStatus)="filterUser($event)"
                      [label]="'Filtrar por usuario'"
                  >
                  </app-search-input>
              </span>
          </div> -->
            </div>
            <!-- <div class="flex justify-content-between flex-column sm:flex-row">
          <div class="sm:w-3">
              <p-fileUpload
                  name="file"
                  mode="basic"
                  accept=".csv"
                  chooseLabel="Seleccionar archivo"
                  (onSelect)="onFileChange($event)"
              >
              </p-fileUpload>
          </div>
          <div class="sm:w-3" *ngIf="!getExcel">
              <p-button
                  pRipple
                  icon="pi pi-file-pdf"
                  class="p-button-warning mr-2"
                  severity="danger"
                  (onClick)="exportPdf()"
              ></p-button>
          </div>
      </div> -->
        </div>
    </div>
</block-viewer>
